<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405051935644-qgv7oqs0jih2pp8k21grhuj7mg41rdje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405051935644-qgv7oqs0jih2pp8k21grhuj7mg41rdje</string>
	<key>API_KEY</key>
	<string>AIzaSyC3zpQHzAQiEoTKBcw_sALq0dYjW0fq_Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>405051935644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somekindofidea.PushTestUIKit</string>
	<key>PROJECT_ID</key>
	<string>push-2021-45bd1</string>
	<key>STORAGE_BUCKET</key>
	<string>push-2021-45bd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405051935644:ios:8bf6022b65232007255659</string>
</dict>
</plist>